@keyframes blink {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

@keyframes zoomIn {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.blink {
  animation: blink 1s ease-in-out infinite;
}

.zoom-in {
  animation: zoomIn 1s ease-in-out forwards;
}
